.gridWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 0rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); /* ตั้ง min width เป็น 255px */
  gap: 1.5rem;
  justify-content: center;
  max-width: 1500px;
}

/* การ์ด */
.cardfree {
  background-color: #FAFBFF !important;
  padding: 1.3rem;
  border-radius: 8px;
  border: 1px solid #ebebeb;
  text-align: center;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 350px; 
  height: 400px;
  box-sizing: border-box;
}

.cardfree:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
  /* เพิ่มเงาด้านล่างเล็กน้อย */
}


/* ไอคอน */
.icon {
  width: 70px;
  height: 70px;
  margin-bottom: 1rem;
  object-fit: contain;
}

/* ป้ายข้อความ */
.titlefree {
  color: #264798;
  font-size: 16px;
  white-space: pre-wrap;
  text-align: center;
}

.subtitlefree {
  color: #264798;
  font-size: 14px;
  white-space: pre-wrap;
  text-align: center;
}

/* ใน FreeServices.module.css */
.listfree {
  padding-left: 1rem;
  margin: 0;
  text-align: left;
  font-size: 14px;
}

.textfree {
  margin-bottom: 0.5rem;
  line-height: 1.6;
  list-style-type: disc; /* หรือเปลี่ยนเป็น 'none' ถ้าไม่ต้องการจุดหน้า */
}

.headersolar {
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* ใช้ Thin */
  text-align: center;
  color: #F2780C;
}
